$Primary: #D8EFD3;
$Secondary: #95D2B3;
$Tertiary: #55AD9B;
$Quaternary: #F1F8E8;

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  background: $Primary;
  .app__wrapper {
    padding-left: calc(100vw - 100%);
  }
  .appHeader {
    background: $Tertiary;
    margin: 0;
    padding: .5rem;
    color: $Quaternary
  }
  .logOutButton {
    top: 5px;
    right: 5px;
    position: absolute;
  }
  .trackerContainer {
    display: flex;
    background: pink;
    .invoiceTable {
      margin-left: 50px;
      font-size: 15px;
      border-collapse: collapse;
      th,td {
        border-spacing: 0px;
        border-collapse: collapse;
        border: 1px solid black;
        margin: 0px 0px;
        padding: 10px 10px;
      }
    }
    .contentForm {
      width: 500px;
    }
  }
  .formContainer {
    position: relative;
    background: $Secondary;
    font-size: 20px;
    font-weight: bold;
    width: 35rem;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    padding: 20px;
    height: 25rem;
    .loginField {
      background: $Quaternary;
      font-size: 20px;
      width: 18rem;
      height: 30px;
      margin: 10px;
      text-indent: 10px; 
      border: none;
      background-clip: content-box;
    }
    .authFormFieldsContentB {
      width: 18rem;
      padding: 2px;
      margin: 10px;
      .authFormSubmit {
        margin-top: 10px;
        border: none;
        width: 100%;
        height: 30px;
        font-size: 15px;
      }
    }
    .authFormFieldsChange {
      position: absolute;
      bottom: 5px;
      width: calc(100% - 40px);
    }
    .authFromFieldsSwitch {
      cursor: pointer;
      width: 180px;
      margin: 10px;
    }
  }
  .extraText, .workInProgress {
    position: absolute;
    bottom: 10px;
  }
  .workInProgress {
    right: 10px;
  } 
}

.invalid {
  border: 4px solid red;
}
.hidden {
  visibility: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}